.home {
  padding: 0 8rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  .home {
    padding: 0 2rem;
  }
}

.home > h1 {
  font-size: 5.5rem;
  background: linear-gradient(to right, #9845e8 0%, #33d2ff 50%, #dd5789 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home > a {
  font-size: 1.5rem;
}
.logorc{
  width: 400px;
  transition: all 0.4s ease-in-out;
}
.logorc:hover{
  filter:
    brightness(1.5)
    drop-shadow(0 0 20px white)
    drop-shadow(0 0 30px cyan)
    drop-shadow(0 0 40px blue);
  transform: scale(1.05);
  cursor: pointer;
}