.home {
  padding: 0 4rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 100; 
  gap: 5rem;
}

.home > p {
  font-size: 1.5rem;
}
.home > a{
  font-size: 1.5rem;
}
.logorc{
  width: 400px;
  transition: all 0.4s ease-in-out;
  animation: glowPulse 2s infinite ease-in-out;
  cursor: pointer;
  padding-top: 3rem;
}

@media (max-width: 600px) {
  .home {
    margin-top: 10vh;
    padding: 0;
    position: static;
    
  }
  .logorc{
    width: 300px;
    margin-top: 5rem;
    padding-top: 0;
  
  }
}

 @keyframes glowPulse {
  0%, 100% {
    filter:
      brightness(1.1)
      drop-shadow(0 0 5px white)
      drop-shadow(0 0 5px cyan)
      drop-shadow(0 0 10px blue);
  }
  50% {
    filter:
      brightness(1.6)
      drop-shadow(0 0 10px white)
      drop-shadow(0 0 20px cyan)
      drop-shadow(0 0 30px blue);
  }
}

.logorc:hover {
  animation: none;
  transform: scale(1.1);
  filter:
    brightness(2)
    drop-shadow(0 0 25px white)
    drop-shadow(0 0 35px cyan)
    drop-shadow(0 0 40px blue)
    drop-shadow(0 0 45px violet);
}
/* Estrellas para el fondo */
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  background: transparent;
  overflow: hidden;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: twinkle 2s infinite ease-in-out alternate;
}
body.light .star {
  background-color: rgb(8, 239, 247);
}

@keyframes twinkle {
  0% { opacity: 0.2; transform: scale(1); }
  100% { opacity: 0.9; transform: scale(1.3); }
}
