footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
footer > div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.info {
  text-align: center;
}

@media (max-width: 770px) {
  footer {
    padding: 0 2rem;
    gap: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }
  footer > div {
    flex-direction: column;
  }
}

