.digital-card {
  width: 100%;
  min-height: 650px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  border: solid 3px var(--primary-dark);
  border-radius: 8px;
}
body.light .digital-card{
  border: solid 3px rgb(9, 117, 117);
}

.digital-card > img {
  width: 100%;
  height: 250px;
  border-radius: 0.4rem;
  object-fit: cover;
}

.digital-card > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body.light .digital-card > .header {
    color: rgb(9, 117, 117)
}

@media (max-width: 770px) {
  .digital-card {
    padding: 20px;
  }
}